@model List<Weather>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/9e7b1296a6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EWeather.styles.css" asp-append-version="true" />
</head>

<div style="text-align: center;">
    <input type="text" list="cities" class="city-menu" id="cityInput"/>
        <datalist id="cities">
            @foreach (var weather in Model
            .OrderBy(measurements => measurements.Regio))
            {
                <option value="@weather.Regio"
                        data-temperature="@weather.Temperature"
                        data-ground-temperature="@weather.GroundTemperature"
                        data-perceived-temperature="@weather.FeelTemperature"
                        data-rainfall="@weather.RainFallLastHour"
                        data-sunpower="@weather.Sunpower"
                        data-winddirection="@weather.WindDirection"
                        data-timestamp="@weather.Timestamp"
                        date-datestamp="@weather.Datestamp">
                </option>
            }
        </datalist> 
    <br>
    
    <script>
        // jQuery code to handle input/change event of the city input field
        $(document).ready(function () {
            $('#cityInput').on('input', function () {
                var selectedCity = $('#cities option[value="' + $(this).val() + '"]');
                if (selectedCity.length > 0) {
                    var temperature = parseFloat(selectedCity.data('temperature'));
                    var groundTemperature = parseFloat(selectedCity.data('ground-temperature'));
                    var perceivedTemperature = parseFloat(selectedCity.data('perceived-temperature'));
                    var rainfall = parseFloat(selectedCity.data('rainfall'));
                    var sunpower = parseFloat(selectedCity.data('sunpower'));
                    var windDirection = selectedCity.data('winddirection');

                    var cityDetailsHtml = '<div class="row">' +
                        '<div class="col text-center custom-col">' +
                        '<i class="fa-solid fa-temperature-half fa-3x"></i> ' +
                        '<span class="weathervalue">' + temperature + '&#8451;</span><br/>' +
                        '<span class="subtext">Actuele Temperatuur</span>' +
                        '</div>' +
                        '<div class="col text-center custom-col">' +
                        '<i class="fa-solid fa-temperature-arrow-down fa-3x"></i> ' +
                        '<span class="weathervalue">' + groundTemperature + '&#8451;</span><br/>' +
                        '<span class="subtext">Grond Temperatuur</span>' +
                        '</div>' +
                        '<div class="col text-center custom-col">' +
                        '<i class="fa-solid fa-temperature-high fa-3x"></i> ' +
                        '<span class="weathervalue">' + perceivedTemperature + '&#8451;</span><br/>' +
                        '<span class="subtext">Gevoelstemperatuur</span>' +
                        '</div>' +
                        '</div>' +
                        '<div class="row">' +
                        '<div class="col text-center custom-col">' +
                        '<i class="fa-solid fa-cloud-rain fa-3x"></i> ' +
                        '<span class="weathervalue">' + rainfall + '</span><br/>' +
                        '<span class="subtext">Regen Laatste Uur</span>' +
                        '</div>' +
                        '<div class="col text-center custom-col">' +
                        '<i class="fa-regular fa-sun fa-3x"></i> ' +
                        '<span class="weathervalue">' + sunpower + '</span><br/>' +
                        '<span class="subtext">Zonnekracht</span>' +
                        '</div>' +
                        '<div class="col text-center custom-col">' +
                        '<i class="fa-regular fa-compass fa-3x"></i> ' +
                        '<span class="weathervalue">' + windDirection + '</span><br/>' +
                        '<span class="subtext">Windrichting</span>' +
                        '</div>' +
                        '</div>';

                    $('#cityDetails').html(cityDetailsHtml);
                } else {
                    $('#cityDetails').empty();
                }
            });

            $('#showGraphButton').on('click', function () {
                var startDate = $('#startDateInput').val();
                var endDate = $('#endDateInput').val();
                var region = $()

                // Redirect to the controller action with the specified date parameters
                window.location.href = '/Weather/Graph?startDate=' + startDate + '&endDate=' + endDate;
            });
        });
    </script>

    <div id="cityDetails">
        <!-- citydetails will be displayed here -->
    </div>
    <button id="showGraphButton">Show Graph</button>
</div>